.wrapper {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 8px;
  @media (max-width: 499px){
    width: 100%;
  }
  &:disabled {
    opacity: .8;
    pointer-events: none;
  }
  &[data-variant="primary"]{
    padding: 16px 28px;
    transition: background-color .4s var(--easing);
    &[data-theme="primary"]{
      background-color: var(--primary-500);
      color: var(--background-100);
      &:hover,
      &:focus-visible {
        background-color: var(--primary-600);
      }
    }
    &[data-theme="secondary"]{
      background-color: var(--background-500);
      color: var(--background-800);
      &:hover,
      &:focus-visible {
        background-color: var(--background-300);
      }
    }
  }
  &[data-variant="secondary"]{
    display: flex;
    width: fit-content;
    div {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
    }
    > div {
      width: 48px;
      height: 48px;
      border: 1px solid var(--background-800);
      > div {
        width: 34px;
        height: 34px;
        border: .5px solid var(--background-800);
        transition: transform .4s 0s var(--easing);
      }
    }
    &:hover,
    &:focus-visible {
      svg {
        animation: button .5s var(--easing);
      }
      > div > div {
        transform: scale(1.41);
        transition: transform .4s .5s var(--easing);
      }
    }
    @keyframes button {
      50% {
        transform: translate(17px, -17px);
      }
      51% {
        transform: translate(-17px, 17px);
      }
    }
  }
}