.wrapper{
  display: grid;
  gap: 36px;
  position: relative;

  >label{
    margin-top: 12px;

    &:first-child{
      margin-top: 0;
    }
  }

  .checkboxes{
    display: grid;
    gap: 24px;
  }
}