

.aside {
  display: grid;
  gap: clamp(24px, calc(24vw/7.68), 64px);
  @media (min-width: 1100px){
    position: sticky;
    top: 130px;
  }
  @media (max-width: 1099px) and (min-width: 850px){
    grid-template-columns: 1fr 1fr;
  }
  .author {
    display: grid;
    align-items: center;
    gap: clamp(16px, calc(20px/7.68), 24px);
    grid-template-columns: auto 1fr;
    .authorImage {
      width: 102px;
      height: 102px;
      border-radius: 50%;
      box-shadow: var(--shadow);
    }
    .title {
      color: var(--background-700);
    }
    .name {
      font-size: clamp(32px, calc(32vw/7.68), 32px);
      margin: clamp(12px, calc(20vw/7.68), 20px) 0 clamp(4px, calc(8vw/7.68), 8px);
      line-height: 1;
    }
    .specialization {
      color: var(--primary-500);
    }
    .socials {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-top: 24px;
      list-style-type: none;
      align-items: center;
      a {
        display: block;
        transition: opacity .3s;
        &:hover {
          opacity: .62;
        }
      }
    }
  }
  .info {
    display: grid;
    gap: clamp(12px, calc(16vw/7.68), 28px);
    > p {
      display: flex;
      width: fit-content;
      align-items: center;
      gap: 8px;
    }
    .categories{
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
    .category {
      display: block;
      padding: 16px 20px 18px 20px;
      border: 1px solid var(--background-500, #F1E4E0);
      background: var(--background-300, #F7EFEC);
  
      color: var(--background-700, #7A6A65);
      font-size: 20px;
      line-height: 110%;
      letter-spacing: 0.4px;
  
      cursor: pointer;
      transition: border-color .3s, background-color .3s;
  
      &:hover,
      &.active {
        border-color: var(--background-800);
        background-color: var(--background-400);
      }
    }
    .advancement {
      display: flex;
      align-items: center;
      gap: 8px;
      flex-wrap: wrap;
      div {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}