.summary {
  margin-top: clamp(96px, calc(144vw/7.68), 192px);
  columns: 2;
  column-gap: 48px;

  @media (max-width: 899px) {
    columns: 1;

  }

  .title {
    margin-bottom: 48px;

    &.flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
    }
  }

  .part {
    break-inside: avoid;
    margin-bottom: 48px;
    max-width: 560px;

    .partData {
      margin-top: 48px;
      border: 1px solid var(--background-600, #C9BBB7);
      background: var(--background-300, #F7EFEC);
      padding: clamp(20px, calc(28vw/7.68), 48px) clamp(16px, calc(24vw/7.68), 52px) clamp(20px, calc(28vw/7.68), 48px) clamp(16px, calc(24vw/7.68), 24px);
      display: grid;
      gap: clamp(36px, calc(48vw/7.68), 64px);

      .flex {
        display: grid;
        align-items: flex-end;
        gap: 28px;
        grid-template-columns: 177fr 280fr;

        @media (max-width: 480px) {
          grid-template-columns: 1fr;
          gap: clamp(36px, calc(48vw/7.68), 64px);

          label {
            &:first-child {
              max-width: 150px;
            }
          }
        }
      }
    }

    input,
    label {
      cursor: default;
    }

    .semi {
      max-width: 280px;
    }
  }
}

.ending {
  margin-top: clamp(96px, calc(144vw/7.68), 192px);

  textarea {
    max-width: 590px;
    margin-bottom: 64px;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    flex-wrap: wrap;
  }

  button {
    margin: 0;
  }

  h2 {
    margin-bottom: 0 !important;
  }
}