.wrapper {
  display: grid;
  gap: clamp(48px, calc(48vw/7.68), 64px) clamp(48px, calc(48vw/7.68), 108px);
  @media (min-width: 900px){
    grid-template-columns: 1.75fr 1fr;
  }
  &[data-reversed="true"]{
    header {
      order: 2;
    }
  }
  .paragraph {
    margin-top: clamp(28px, calc(36vw/7.68), 36px);
    > *:not(:last-child){
      margin-bottom: 16px;
    }
  }
  .standout {
    margin-top: clamp(28px, calc(36vw/7.68), 36px);
    border: 1px solid;
    border-image: var(--gradient-100) 1;
    background-color: var(--background-400);
    box-shadow: var(--shadow);
    padding: clamp(20px, calc(28vw/7.68), 28px);
  }
  .cta {
    margin-top: clamp(36px, calc(48vw/7.68), 48px);
  }
}