.wrapper {
  header {
    max-width: calc(719rem/16);
    margin-bottom: clamp(28px, calc(48vw/7.68), 48px);
    .paragraph {
      margin: clamp(16px, calc(28vw/7.68), 28px) 0 clamp(28px, calc(36vw/7.68), 36px);
      > *:not(:last-child){
        margin-bottom: 16px;
      }
    }
  }
  .entries {
    display: grid;
    gap: clamp(16px, calc(20vw/7.68), 20px);
  }
}