.placeholder{
  position: sticky;
  top: 0;
  height: 109px;
  z-index: -1;
}

.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  background-color: var(--background-200);
  border-bottom: 1px solid var(--background-800);
  padding: clamp(28px, calc(28vw/7.68), 36px) 0 12px;

  &[aria-controls="false"] {
    .cart {
      transform: translateX(100%);
    }
  }
  &[aria-controls="true"] {
    .overlay {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity .8s;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: clamp(116px, calc(132vw/7.68), 132px);
    display: block;
    svg {
      width: 100%;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      margin: 0 calc(clamp(16px, calc(12vw/7.68), 24px) * -1);
      list-style-type: none;

      &:hover {
        a {
          opacity: .62;
          &:hover {
            opacity: 1;
          }
        }
      }

      a {
        padding: 0 clamp(16px, calc(12vw/7.68), 24px);
        display: block;
        transition: opacity .4s;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: clamp(16px, calc(12vw/7.68), 24px);
          bottom: -3px;
          width: calc(100% - clamp(16px, calc(12vw/7.68), 24px) * 2);
          height: 1px;
          background: var(--gradient-100);
          transition: transform .5s var(--easing);
          transform: scaleX(0);
          transform-origin: right;
        }

        &[aria-current="page"]::before {
          transform-origin: left;
          transform: scaleX(1);
        }
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    margin: calc(clamp(8px, calc(8vw/4.00), 12px) * -1);
    button, a {
      transition: opacity .4s;
      display: block;
      margin: 0 clamp(8px, calc(8vw/4.00), 12px);
    }
    &:hover {
      button, a {
        opacity: .62;
        &:hover {
          opacity: 1;
        }
      }
    }

    button {
      position: relative;
      .hearth {
        position: absolute;
        left: -45%;
        bottom: -35%;

        span{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          color: var(--Background-50, #FFF);
          font-family: Oranienbaum;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          letter-spacing: 0.84px;
          padding-left: 2px;
        }
      }
    }
  }

  .mobileNavToggle {
    @media (min-width: 1050px) {
      display: none;
    }

    z-index: 2;
    display: grid;
    gap: 16px;
    padding: 25px 0;

    span {
      display: block;
      width: 68px;
      width: clamp(48px, calc(48vw/4.00), 68px);
      height: 1px;
      background-color: var(--background-800);
      transition: transform .6s var(--easing);
    }
  }

  @media (max-width: 1049px) {
    .actions {
      margin-left: auto;
      margin-right: clamp(16px, calc(16vw/4.00), 24px);
    }
    nav {
      position: absolute;
      z-index: 2;
      right: 0;
      top: 0;
      background-color: var(--background-300);
      height: 100vh;
      height: 100dvh;
      width: 100%;
      max-width: 280px;
      transition: transform .6s var(--easing);
      padding: 28px;

      ul {
        flex-direction: column;
        align-items: flex-start;
        margin: calc(80px + clamp(28px, calc(28vw/7.68), 36px) + 28px - clamp(16px, calc(12vw/7.68), 24px)) 0 0;

        a {
          padding: clamp(16px, calc(12vw/7.68), 24px) 0;

          &::before {
            left: 0;
            width: 100%;
            bottom: 13px;
          }
        }
      }
    }

    &[aria-expanded="false"] {
      nav {
        transform: translateX(100%);
      }
    }
    &[aria-expanded="true"] {
      .overlay {
        opacity: 1;
        pointer-events: auto;
      }
      .mobileNavToggle span {
        &:nth-child(1) {
          transform: translateY(8.5px) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translateY(-8.5px) rotate(45deg);
        }
      }
    }
  }
}

.skipToMainContent {
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 13px;
  top: 13px;
  padding: 13px 21px;
  background-color: var(--primary-500);
  color: var(--background-50);
  overflow: hidden;

  &:focus-visible {
    opacity: 1;
    pointer-events: auto;
  }
}