.wrapper {

  >h1 {
    margin-bottom: clamp(20px, calc(28vw/7.68), 36px);

    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  >p {
    @media (max-width: 1024px) {
      text-align: center;
    }
  }

  >ul {
    margin-top: 96px;
    display: grid;
    gap: 24px;

    >li {
      border: 1px solid var(--0001, #F7C479);
      background: var(--background-300, #F7EFEC);
      padding: 24px 24px 28px 24px;

      display: grid;
      gap: 24px;
      grid-template-columns: 162px auto;
    }
  }

  .alignRight {
    text-align: right;
    width: fit-content;
    margin-left: auto;

    color: var(--primary-500, #2B483C);
    font-size: 18px;
    line-height: 122.222%;
    letter-spacing: 0.36px;

    margin-top: 36px;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
  }

  .method {
    color: var(--background-800, #53423C);
    font-size: 18px;
    line-height: 122.222%;
    letter-spacing: 0.36px;
  }

  .price {
    color: var(--background-800, #53423C);
    font-size: 36px;
    line-height: 105.556%;
    letter-spacing: 0.72px;
  }

  .date {
    color: var(--background-700, #7A6A65);
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.4px;
    margin-bottom: 20px;
  }
}

.placeholder {
  min-height: 588px;
  position: relative;
}