.wrapper {
  display: grid;
  grid-template-columns: 104px 149fr 152fr 92fr 99fr;
  gap: 48px;
  height: fit-content;

  @media(max-width: 840px){
    gap: 16px;
  }

  @media(max-width: 640px){
    grid-template-columns: 68px 1fr auto;
    grid-template-areas: 
    'image title trash'
    'calculator calculator price';

    gap: 12px 8px;

    .image{
      grid-area: image;
    }

    .title{
      grid-area: title;
    }

    .remove{
      grid-area: trash;
      align-items: flex-start !important;
    }

    .quantity{
      grid-area: calculator;
      width: fit-content;

      button{
        width: 50px;
        height: 64px;
      }

      input{
        height: 58px;
        width: 50px;
      }
    }

    .price{
      grid-area: price;
    }
  }

  small {
    color: var(--grey-1, #808080);
    letter-spacing: 1px;
    font-size: 15px;
    line-height: 160%;
  }

  .title {
    display: flex;
    gap: 12px;
    margin-left: -36px;
    font-size: clamp(18px, calc(20vw/7.68), 20px);

    @media(max-width: 840px){
      margin-left: 0;
    }
  }

  .row {
    display: grid !important;
    grid-template-rows: auto 1fr;
    gap: 16px;
    text-align: center;
    margin: 0 !important;

    span{
      font-size: 16px;

      @media(max-width: 640px){
        display: none;
      }
    }

    div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  .quantity {
    
    margin: auto 0;
    .calculator {
      display: grid;
      align-items: center;
      text-align: center;
      grid-template-columns: 1fr 50px 1fr;

      input{
        text-align: center;
        font-size: 20px;
      }
    }

    button{
      color: var(--background-800, #53423C);
      font-size: 36px;
      line-height: 105.556%;
      letter-spacing: 0.72px;
    }
  }

  .remove {
    border: none;
    background-color: transparent;
  }

  &:last-child {
    border-bottom: unset;
  }

  &:first-child {
    margin-top: unset;
  }

  .image-wrap {
    width: 106px;
    height: 106px;
    position: relative;

    >img {
      inset: 0;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      max-width: none;
      position: absolute;
      object-fit: cover;
      object-position: right;
    }
  }

  .price {
    margin: auto;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-size: clamp(18px, calc(20vw/7.68), 20px);
      line-height: 175%;
      letter-spacing: 0.32px;
      color: #53423C;

      &.old-price {
        font-size: 16px;
        color: var(--background-700, #7A6A65);
        line-height: 175%;
        letter-spacing: 0.32px;
        text-decoration-line: line-through;
      }
    }
  }

  .flex {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
  }

  .remove{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}