.wrapper {}

.control {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 36px 64px;
}

.categories {
  >a {
    display: block;
    padding: 16px 20px 18px 20px;
    border: 1px solid var(--background-500, #F1E4E0);
    background: var(--background-300, #F7EFEC);

    color: var(--background-700, #7A6A65);
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.4px;

    cursor: pointer;
    transition: border-color .3s, background-color .3s;

    &:hover,
    &.active {
      border-color: var(--background-800);
      background-color: var(--background-400);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px 24px;
  margin-top: 128px;
}