.control {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 36px 64px;
}

.categories {
  > a {
    display: block;
    padding: 16px 20px 18px 20px;
    border: 1px solid var(--background-500, #F1E4E0);
    background: var(--background-300, #F7EFEC);

    color: var(--background-700, #7A6A65);
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.4px;

    cursor: pointer;
    transition: border-color .3s, background-color .3s;

    &:hover,
    &.active {
      border-color: var(--background-800);
      background-color: var(--background-400);
    }
  }
}

.grid {
  display: grid;
  @media (min-width: 600px){
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 1000px){
    grid-template-columns: 1fr 1fr 1fr;
  }
  gap: clamp(16px, calc(20vw/7.68), 24px) clamp(16px, calc(20vw/7.68), 24px);
  margin-top: clamp(64px, calc(80vw/7.68), 128px);
}

.complexity{
  display: grid;
  gap: 8px;
  max-width: 380px;
  width: 100%;
}

.pagination{
  max-width: 384px;
  width: 100%;
  margin: 64px auto 0;

  p{
    margin-bottom: 16px;
    text-align: center;
  }

  .line{
    display: block;
    height: 6px;
    background: var(--background-500, #F1E4E0);
    margin-bottom: 36px;
    position: relative;

    &::after{
      content: '';
      display: block;
      width: var(--percent);
      background: var(--background-800, #7A6A65);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      transition: width .3s var(--easing);
    }
  }

  button{
    margin: 0 auto;
    display: block;
  }
}